// fonts
$NunitoSans: 'NunitoSans', sans-serif;
$Futura-PT: 'Futura PT', sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-white-10: #E8E8E8;
$color-green-light: #DFFA70;
$color-dark: #090909;
// colors
