// accardion_seasons
.accardion_seasons {
  &_block {
    border-top: .5px solid $color-white;
    padding: 30px 23px;

    &:last-child {
      border-bottom: .5px solid $color-white;
    }

    &_in {
      height: 0;
      display: flex;
      gap: 28px;
      overflow: hidden;
      transition: .3s linear;

      @include tablet-993 {
        align-items: center;
        flex-direction: column;
        gap: 20px;
      }

      h5 {
        font-size: 32px;
        font-weight: 600;
        line-height: 34.24px;
        color: $color-white;
        text-transform: uppercase;
        margin-bottom: 50px;

        @include tablet-993 {
          font-size: 19px;
          line-height: 20px;
          margin-bottom: 17px;
          text-align: center;
        }
      }

      p {
        margin-left: 40px;
        font-size: 12px;
        font-weight: 450;
        line-height: 14.35px;
        color: $color-white;
        text-transform: uppercase;

        @include tablet-993 {
          text-align: center;
          margin-left: 0;
        }
      }

      .video_btn {
        width: 33px;
        height: 33px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,
        -50%);

        img {
          width: 100%;
        }
      }
    }

    .accardion_seasons_block_in_left {
      max-width: 230px;

      @include tablet-993 {
        max-width: 100%;
      }
    }

    .accardion_seasons_block_in_center {
      max-width: 418px;

      @include tablet-993 {
        max-width: 100%;
      }
    }

    .accardion_seasons_block_in_right {
      max-width: 196px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 20px;
      padding-bottom: 26px;

      @include tablet-993 {
        max-width: 100%;
        gap: 10px;
        padding-bottom: 0;
      }

      a {
        font-size: 12px;
        font-weight: 450;
        line-height: 14.35px;
        color: $color-white;
        text-transform: uppercase;
        transition: .3s linear;

        @include tablet-993 {
          text-align: center;
        }

        &:hover {
          color: $color-green-light;
        }
      }
    }

    h6 {
      transition: .3s linear;
      font-size: 32px;
      font-weight: 600;
      line-height: 34.24px;
      color: $color-white;
      text-align: center;
      text-transform: uppercase;

      @include tablet-993 {
        font-size: 19px;
        line-height: 20px;
        text-align: left;
      }

      br {
        display: none;
      }
    }

    svg {
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 48px;

      @include tablet-993 {
        right: 56px;
      }

      path {
        transition: .3s linear;
      }
    }

    &:hover {
      h6 {
        color: $color-green-light;
      }

      svg {
        path {
          stroke: $color-green-light;
        }
      }
    }

    &.active {
      padding: 0;

      .accardion_seasons_block_in {
        overflow: hidden;
        height: 355px;
        padding: 71px 0;

        @include tablet-993 {
          height: 430px;
          padding: 22px 0;
        }
      }

      h6 {
        display: none;
      }

      svg {
        display: none;
      }
    }
  }
}
// accardion_seasons

// article_search
.article_search {
  margin-bottom: 80px;

  @include tablet-768 {
    margin-bottom: 40px;
  }

  &_wrapper {
    @include tablet-768 {
      gap: 35px;
    }
  }

  h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: $color-white;
    margin-bottom: 36px;
    text-transform: uppercase;

    @include tablet-768 {
      margin-bottom: 30px;
    }
  }

  form {
    display: flex;
    align-items: center;
    gap: 8px;

    @include tablet-768 {
      flex-direction: column;
      gap: 17px;
    }

    input {
      flex: 1;
      font-size: 14px;
      font-weight: 300;
      line-height: 17.95px;
      color: $color-white;
      padding: 5px 15px;
      border-radius: 3px;
      border: .5px solid $color-white;

      @include tablet-768 {
        width: 100%;
      }

      &::placeholder {
        color: $color-white;
      }
    }

    button {
      flex: 1;
    }
  }

  .article_search_block {
    &_in {
      margin-top: 25px;
      display: grid;
      gap: 8px 11px;
      grid-template-columns: repeat(4, 1fr);

      @include tablet-768 {
        grid-template-columns: repeat(3, 1fr);
      }

      button {
        position: relative;
        height: 29px;
        border: .5px solid #8A8A8B;
        border-radius: 3px;

        span {
          font-size: 14px;
          font-weight: 300;
          line-height: 17.95px;
          text-align: center;
          color: #8A8A8B;
        }

        svg {
          position: absolute;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto 0;
        }
      }
    }
  }

}
// article_search

// article_slider
.article_slider {
  h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: $color-white;
    margin-bottom: 36px;
    text-transform: uppercase;

    @include tablet-768 {
      margin-bottom: 30px;
    }
  }

  h6 {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: $color-white;
    margin: 12px 0 0 0;
  }

  span {
    font-family: $NunitoSans;
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
    color: #949494;
  }

  .article_cards {
    display: grid;
    gap: 36px 25px;
    grid-template-columns: repeat(4, 1fr);

    @include tablet-768 {
      gap: 20px 10px;
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      width: 100%;
    }
  }

  .articleSwiper {
    overflow: hidden;
  }

  .article-pagination {
    margin-top: 46px;
    gap: 20px;

    @include tablet-768 {
      gap: 7px;
      margin-top: 25px;
    }

    .swiper-pagination-bullet {
      margin: 0;
      background: transparent;
      width: 16px;
      height: 16px;
      border: 3px solid $color-green-light;
      opacity: 1;

      @include tablet-768 {
        width: 9px;
        height: 9px;
        background: $color-green-light;
      }
    }

    .swiper-pagination-bullet-active {
      background: $color-green-light;
      box-shadow: 0px 0px 6px 2px #C9FA4980;
    }
  }
}
// article_slider
