.musicians {
  &_cards {
    gap: 32px 0;
    max-width: 727px;
    margin: 70px auto;

    @include tablet-768 {
      gap: 20px 0;
      padding: 0 40px;
      margin: 40px auto;
    }
  }

  &_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 134px;
      height: 134px;
      flex-shrink: 0;
      border-radius: 50%;

      @include mobile-380 {
        max-width: 89px;
        height: 89px;
        flex-shrink: 0;
      }
    }

    h6 {
      font-size: 16px;
      font-weight: 300;
      line-height: 20.51px;
      color: $color-green-light;
      text-transform: uppercase;
      margin: 23px 0 11px 0;

      @include tablet-768 {
        margin: 15px 0 7px 0;
        font-size: 12px;
        line-height: 15px;
      }
    }

    span {
      font-size: 16px;
      font-weight: 300;
      line-height: 20.51px;
      color: $color-white;
      text-transform: uppercase;

      @include tablet-768 {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
