// other_sessions
.other_sessions {
  margin-bottom: 157px;

  @include tablet-768 {
    margin-bottom: 55px;
  }

  &_in_media {
    display: none;

    @include tablet-768 {
      display: block;
    }

    margin-bottom: 55px;

    .media_block {
      margin-bottom: 11px;
    }

    .left {
      padding-left: 16px;
    }

    h6 {
      font-size: 29px;
      font-weight: 450;
      line-height: 31.03px;
      color: $color-white;
    }

    span {
      font-size: 12px;
      font-weight: 450;
      line-height: 12.84px;
      color: $color-white;
    }

    h5 {
      font-size: 19px;
      font-weight: 450;
      line-height: 20.33px;
      color: $color-white;
    }

    p {
      font-size: 12px;
      font-weight: 450;
      line-height: 14.35px;
      color: $color-white;
      text-transform: uppercase;
    }

    .main_btn {
      margin-top: 17px;
      width: 100%;
    }

    .other_btn {
      background-color: #8A8A8B;
      color: $color-white;
      text-transform: uppercase;
    }
  }

  .section_title {
    margin-bottom: 80px;

    br {
      display: none;

      @include tablet-768 {
        display: block;
      }
    }

    @include tablet-768 {
      margin-bottom: 20px;
    }
  }

  &_in {
    @include tablet-768 {
      display: none;
    }
  }

  &_block {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    border-top: .5px solid $color-white;
    padding: 30px 0;

    &_data {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &:last-child {
      border-bottom: .5px solid $color-white;
    }

    span {
      font-size: 16px;
      font-weight: 450;
      line-height: 17.12px;
      text-align: left;
      color: $color-white;
      text-transform: uppercase;
    }

    h6 {
      font-size: 29px;
      font-weight: 450;
      line-height: 31.03px;
      color: $color-green-light;
      text-transform: uppercase;
    }

    .main_btn {
      width: 131px;
    }

    .other_btn {
      background-color: #8A8A8B;
      color: $color-white;
      text-transform: uppercase;
    }
  }
}
// other_sessions

// sessions_block
.sessions_block {
  margin-bottom: 144px;

  @include tablet-768 {
    margin-bottom: 22px;
  }

  .section_title {
    margin-bottom: 80px;

    @include tablet-768 {
      margin-bottom: 30px;
    }
  }

  .media_title {
    font-size: 16px;
    font-weight: 450;
    line-height: 20.77px;
    color: $color-white;
    margin-right: 40px;
    margin-bottom: 7px;
    display: none;
    align-items: center;
    justify-content: space-between;

    @include tablet-768 {
      display: flex;
    }

    span {
      color: $color-green-light;
    }
  }

  &_in {
    padding: 25px 0;
    border-top: .5px solid $color-green-light;
    border-bottom: .5px solid $color-green-light;

    .media_btn {
      display: none;
      width: 100%;
      height: 32px;
      margin-top: 12px;

      @include tablet-768 {
        display: block;
      }
    }
  }

  .list_block {
    display: flex;
    align-items: stretch;
    gap: 50px;

    @include tablet-768 {
      gap: 16px;
    }

    &_img {
      width: 420px;

      img {
        width: 100%;
      }

      @include tablet-768 {
        width: 242px;
      }
    }

    &_media_text {
      width: 71px;
      display: none;

      @include tablet-768 {
        display: block;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 6px;

        p {
          font-size: 12px;
          font-weight: 450;
          line-height: 14px;
          color: #8A8A8B;
        }

        span {
          font-size: 14px;
          font-weight: 450;
          line-height: 16px;
          color: $color-white;
        }
      }
    }

    &_text {
      position: relative;
      width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tablet-768 {
        display: none;
      }

      h6 {
        font-size: 24px;
        font-weight: 450;
        line-height: 30.77px;
        color: $color-white;
        margin-right: 40px;

        span {
          position: absolute;
          top: 0;
          right: 0;
          color: $color-green-light;
        }
      }

      ul {
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p,
        span {
          color: #8A8A8B;
        }

        p {
          font-size: 20px;
          font-weight: 450;
          line-height: 23.92px;
        }

        span {
          font-size: 16px;
          font-weight: 450;
          line-height: 19.14px;
        }
      }
    }

    &_btn {
      margin-top: auto;
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: space-between;

      span {
        font-size: 20px;
        font-weight: 600;
        line-height: 23.92px;
        color: $color-green-light;
      }

      .main_btn {
        width: 131px;
      }
    }
  }
}
// sessions_block
